.main{
  background-image: url('../image/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin: 0 auto;
  .cs-icon {
      top: 250px;
      right: -10px;
      z-index: 10;
    }
  .bg {
    background: #fff;
    z-index: -999;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
    height: 46px;
    .topbar {
      padding-left: 360px;
      .logo {
        top: 20px;
        z-index: 1;
        @media only screen and (max-width: 1200px) {
          left: 8%;
        }
        :after {
            content: '';
            background: #fff;
            box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
            border-radius: 50%;
            width: 225px;
            height: 57px;
            position: absolute;
            left: -16%;
            top: -15%;
            z-index: -2;
          }
        }
        .top-info {
          display: flex;
          align-items: center;
          padding-top: .8rem; 
          right: 360px;
          .time{
            color: #969aa1;
            padding: 0 1rem;
          }
          .lang-select{
            background: #3c3c40;
            border-radius: 3px;
            padding: 3px 8px;
          }   
        }
    }
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    .header{
      margin-top: 60px;
      text-align: center;
      .header-title{
        p{
          font-size: 26pt;
          padding-left: 360px;
        }
        .here{
          font-size: 20pt;
          text-align: left;
          padding-left: 360px;
        }
      }
      .header-content{
        display: flex;
        justify-content: center;
        .signin{
          display: flex;
          top: 70%;
          @media only screen and (max-width: 1200px) {
            margin-top: 20px;
            transform: scale(1.2);
          }
          .signin-left{
            input{
              width: 171px;
              height: 30px;
              border-radius: 5px;
              padding-left: 10px;
            }
          }
          .signin-right{
            .btn-login{
              width: 90px;
              height: 75px;
              margin-left: 10px;
              &:hover{
                transform: scale(1.15);
              }
            }    
          }
        }
      }
      .car-list{
        margin-top: 85px;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-around;
        @media only screen and (max-width: 767px) {
          flex-direction: column;
          margin-top: 130px;
          li{
            margin: 25px auto;
          }
       }
      }
    }    
  }
  .footer{
    text-align: center;
    .p1{
      padding:10px 0;
      height: 46px;
      font-size: 16pt;
      background-image: linear-gradient(to right, #562fda, #3163f5, #2d79f8, #2d88f8, #2d7df8, #3a53ee, #5333dc);
      box-shadow: 0 -2px 5px 2px rgba(0, 0, 0, .1);
      a{
        &:hover{
          font-weight: bold;
          font-size: 17pt;
        }
      }
    }
    .p2{
      padding: 10px 0;
      background-color: #222222;
      color: #969aa1;
      font-size: 15pt;
    }
  }
}

.mt8{
  margin-top: 8px;
}

.text-white{
  color: #fff;
}

.p-relative{
  position: relative;
}

.p-absolute{
  position: absolute;
}

.p-fixed{
  position: fixed;
}

.d-none-m {
  @media only screen and (max-width: 1200px) {
    display: none;
  }
}

.d-none-s{
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.d-block-s {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.width-m {
  @media only screen and (max-width: 1200px) {
    max-width: 80%;
  }
}

.width-s{
  @media only screen and (max-width: 767px) {
     max-width: 50%;
  }
}